[aws]
region = XX
aws_secret_key = XX
aws_access_key = XX

[dms]
task_name = jt-dms-task-sqlserver-<tablename>
replication_instance_arn = arn:aws:dms:<REGION>:<ACCOUNT>:rep:XXX
source_endpoint_arn = arn:aws:dms:<REGION>:<ACCOUNT>:endpoint:XX
target_endpoint_arn = arn:aws:dms:<REGION>:<ACCOUNT>:endpoint:XX
migration_type = full-load-and-cdc

[schema]
schema_name = dbo
table_name = orders
